
* {
  padding: 0;
  margin: 0;
}
.v26_2 {
  width: 100%;
  height: 1201px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v136_61 {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(31,31,31,1), rgba(217,217,217,1));
  opacity: 1;
  position: absolute;
  
}
.v88_28 {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(0, 0, 0), rgba(58,26,185,0.8100000023841858));
  opacity: 1;
  position: absolute;
  overflow: hidden;
}

.v28_24 {
  width: 528px;
  color: rgba(246,240,220,1);
  position: absolute;
  top: 261px;
  left: 215px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v28_22 {
  width: 700px;
  height: 700px;
  background: rgba(195,193,199,1);
  opacity: 1;
  position: absolute;
  top: 290px;
  left: 1047px;
  border-radius: 50%;
}
.v37_45 {
  width: 700px;
  height: 700px;
  background: linear-gradient(rgba(255,206,26,1), rgba(255,136,26,1));
  opacity: 1;
  position: absolute;
  top: 290px;
  left: 1047px;
  border-radius: 50%;
}
.v28_21 {
  width: 500px;
  height: 500px;
  background: linear-gradient(rgba(109,84,199,1), rgba(75,83,194,1));
  opacity: 1;
  position: absolute;
  top: 390px;
  left: 1155px;
  border-radius: 50%;
}
.v30_2 {
  width: 592px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 454px;
  left: 215px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v32_4 {
  width: 180px;
  height: 180px;
  background: linear-gradient(rgba(255,206,26,1), rgba(255,136,26,1));
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 929px;
  border-radius: 50%;
  box-shadow: 0px 7px 99px rgba(0.987500011920929, 0.7796051502227783, 0, 0.8999999761581421);
}
.v32_5 {
  width: 110px;
  height: 110px;
  background: linear-gradient(rgba(114,90,200,1), rgba(88,72,193,1));
  opacity: 1;
  position: absolute;
  top: 301px;
  left: 964px;
  border-radius: 50%;
}
.v28_3 {
  width: 214px;
  height: 115px;
  background: url("../media/image\ 1.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 51px;
  overflow: hidden;
}
.v28_3 {
    width: 30%;
    height: 80%;
    background: url("../media/Saly-12.svg");
    top: 200px;
    left: 900px;
   
}
.v33_9 {
  width: 192px;
  height: 70px;
  background: linear-gradient(rgba(255,206,26,1), rgba(255,136,26,1));
  opacity: 1;
  position: absolute;
  top: 554px;
  left: 215px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v34_11 {
  width: 192px;
  height: 70px;
  background: linear-gradient(rgba(255,206,26,1), rgba(255,136,26,1));
  opacity: 1;
  position: absolute;
  top: 554px;
  left: 454px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v28_12 {
  width: 70px;
  height: 70px;
  background: linear-gradient(rgba(255,206,26,1), rgba(255,136,26,1));
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 1180px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v28_13 {
  width: 31px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 92px;
  left: 1200px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}

.v28_8 {
  width: 96px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 96px;
  left: 1000px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v28_5 {
  width: 77px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 96px;
  left: 850px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v34_12 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 573px;
  left: 279px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v34_14 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 573px;
  left: 506px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v85_36 {
  width: 54px;
  height: 7px;
  background: linear-gradient(rgba(250,119,0,1), rgba(219,130,47,1));
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 851px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v97_18 {
  width: 274px;
  color: rgba(246,240,220,1);
  position: absolute;
  top: 705px;
  left: 215px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v97_19 {
  width: 463px;
  height: 264px;
  background: url("../media/Saly-12.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 797px;
  left: 215px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v97_20 {
  width: 116px;
  height: 7px;
  background: linear-gradient(rgba(250,119,0,1), rgba(219,130,47,1));
  opacity: 1;
  position: absolute;
  top: 756px;
  left: 221px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
